body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.join-page {
    max-width: 600px;
    margin: auto;
    padding: 15px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0,1);
}

h1 {
    text-align: center;
    color: #333;
}

span {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: lightgreen;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: green;
}

.inline {
    color: darkslategray;
    font-size: 14px;
}

span.absolute-label {
    position:absolute;
}